@model IEnumerable<FinancesDomain.Models.SharedBudget>

@{
    ViewData["Title"] = "Index";
}

<h1>Shared budgets</h1>

<p>
    <a asp-action="Create">Add new shared budget</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CommonCategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>

            <td>
                with @Html.DisplayFor(modelItem => item.AddedUser.Username)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommonCategory.Name)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
